@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #000000; /* Absolute Black */
  color: #ffffff;
  font-family: 'Inter', -apple-system, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar (Invisible but functional) */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}